 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a1454;
}

.wrapper {
   margin: 10px;
    position: relative;
    max-width: 550px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 30px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.wrapper h1{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
}

.wrapper .passwordBox {
    position: relative;
    height: 60px;

}

.passwordBox input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    bottom: 1px solid #aaa;
    padding: 0 45px 0 15px;
    font-size: 20px;

}

.copyIcon {
    position: absolute;
    right: 15px;
    top: 50%;
    color: #707070;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-50%);

}

.copyIcon:hover {
    color: #2a1454;

}

.wrapper .rangeBox {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
 
 
 

/* .rangeBox input {
    width: 100%;
    height: 50px;
    
    accent-color: #7e4bdd;
    cursor: pointer;

} */
 input[type="range"] {
  -webkit-appearance:none;
  width: 100%;
  height: 12px; /* Overall height, but not enough alone */
  background: #ddd;
  border-radius: 6px;
  outline: none;
      accent-color: #7e4bdd;

}
.rangeBox input:hover {

    accent-color: #6126ce;

}

.rangeBox .sliderNumber {
    min-width: 30px;
    text-align: right;
    font-style: 17px;
    color: #707070;

}

.wrapper .genrateButton {
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #927dfc;
    cursor: pointer;
    transition: all 0.2s ease;
}

.genrateButton:hover {
    background-color: #826afb;
}  
 


    /* Footer styling */
.su {
    position: absolute;
    bottom: 50px; /* Keeps it 50px from the bottom */
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

/* Custom link styling */
.custom-link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.custom-link .heart {
    color: red;
}

/* Hover effect on the footer link */
.custom-link:hover {
    text-decoration: underline;
}